<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConstraintSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iConstraintSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>iOSConstraintSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libConstraintSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F0520CC1A5C691200540AD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F0520D61A5C691200540AD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53DC8119888F2300343402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F53DC8C19888F2300343402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF89B11A5BAC5C0094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF89BB1A5BAC5C0094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF89DA1A5BB06A0094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF89E41A5BB06A0094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF8A341A5C57A90094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FDF8A3E1A5C57A90094EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FF8AC301A53D9E200ED5C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
